altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comtypes
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
MarkupSafe
mpmath
narwhals
networkx
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pypiwin32
python-dateutil
pyttsx3
pytz
pywin32
PyYAML
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
watchdog